@if (editing) {
  <form (ngSubmit)="submitTag()">
    <label>
      Nom :
      <input type="text" name="name" [(ngModel)]="editing.name" required />
    </label>
    <label>
      Couleur :
      <input type="color" name="color" [(ngModel)]="editing.color" />
    </label>
  
    <button type="submit">Valider</button>
    <button type="button" (click)="cancelEdit()">Annuler</button>
  </form>
  }

  <ul>
    @for(tag of tags; track $index) {
      <li (dblclick)="editTag(tag)">
        <app-tag [name]="tag.name" [color]="tag.color" [id]="tag.id"></app-tag>
        <button (click)="deleteTag(tag)">🗑️</button>
      </li>
    } @empty {
      <li>Aucun tag !</li>
    }
  </ul>
  
  
  <a href= "#" (click)="dialogAddTag($event)">Ajouter une nouvelle étiquette</a>
  
  