@if (editing) {
    <form (ngSubmit)="submitNote()">
      <label>
        Nom :
        <input type="text" name="name" [(ngModel)]="editing.title" required />
      </label>
    <label>
      Couleur :
      <input type="color" name="color" [(ngModel)]="editing.color" />
    </label>
    <label>
      </label>

    
    
    <button type="submit">Valider</button>
    <button type="button" (click)="cancelEditNote()">Annuler</button>
    </form>
    }

<ul>
    @for(note of notes; track $index){
        <li (dblclick)="editNote(note)"><app-note 
            [id]="note.id" 
            [title]="note.title" 
            [color]="note.color" 
            [contenu]="note.contenu"
            ></app-note>
            <button (click)="deleteNote(note)">🗑️</button>
        </li>
        <div class="note-actions">

            
        </div>
    }@empty {
        <li>Aucune Note !</li>
    }

</ul>

<a href= "#" (click)="dialogAddNote($event)">Ajouter une nouvelle note</a>


