@if (editing) {
    <form (ngSubmit)="submitNote()">
      <label>
        Nom :
        <input type="text" name="name" [(ngModel)]="editing.title" required />
      </label>
    <label>
      Couleur :
      <input type="color" name="color" [(ngModel)]="editing.color" />
    </label>
    <div>
      <label>Tags :</label>
      <div *ngFor="let tag of editing.tags; let idx = index">
        <span>{{ tag.name }}</span>
        <button type="button" (click)="removeTagFromNote(idx)">Supprimer</button>
      </div>
      <select [(ngModel)]="selectedTagId">
        <option [value]="null" disabled selected>Choisir un tag</option>
        <option *ngFor="let tag of availableTags" [value]="tag.id">{{ tag.name }}</option>
      </select>
      <button type="button" (click)="addTagToNote()">Ajouter un tag</button>
    </div>

    
    
    <button type="submit">Valider</button>
    <button type="button" (click)="cancelEditNote()">Annuler</button>
    </form>
    }

<ul>
    @for(note of notes; track $index){
        <li (dblclick)="editNote(note)"><app-note 
            [id]="note.id" 
            [title]="note.title" 
            [color]="note.color" 
            [contenu]="note.contenu"
            ></app-note>
            <button (click)="deleteNote(note)">🗑️</button>
        </li>
        <div class="note-actions">

            
        </div>
    }@empty {
        <li>Aucune Note !</li>
    }

</ul>

<a href= "#" (click)="dialogAddNote($event)">Ajouter une nouvelle note</a>


